{
    "presets": [
        "@babel/react",
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 1 versions",
                        "> 1% in CN",
                        "not op_mob > 0",
                        "not op_mini > 0"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "babel-plugin-transform-remove-console"
    ]
}
